<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="description" content="DemoMap | Real time info for your demonstration. Participate actively and safely in demonstrations.">
    <meta property="og:title" content="DemoMap | Know Where to March" />
    <meta property="og:description" content="DemoMap | Real time info for your demonstration. Participate actively and safely in demonstrations." />
    <meta property="og:image" content='<#%= image_url 'banner_demo.jpg' %>'/>
    <meta property="og:image:width" content='1200'/>
    <meta property="og:image:height" content='630'/> -->



    <title>Tjwebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
